$brand-100: hsl(154, 75%, 87%);
$brand-200: hsl(156, 73%, 74%);
$brand-300: hsl(158, 58%, 62%);
$brand-400: hsl(160, 51%, 49%);
$brand-500: hsl(162, 63%, 41%);
$brand-600: hsl(164, 71%, 34%);
$brand-700: hsl(166, 72%, 28%);
$brand-800: hsl(166, 72%, 28%);
$brand-900: hsl(170, 97%, 15%);

$gray-900: hsl(215, 16, 30);
$gray-800: hsl(215, 16, 30);
$gray-700: hsl(215, 10, 49);
$gray-600: hsl(215, 15, 63);
$gray-500: hsl(209, 22, 74);
$gray-400: hsl(208, 17, 83);
$gray-300: hsl(207, 24, 87);
$gray-200: hsl(207, 22, 90);
$gray-100: hsl(210, 17, 98);
$white: #ffffff;

$red-100: #fff5f5;
$red-200: #ffe3e3;
$red-300: hsl(0, 71, 66);
$red-400: #ffa8a8;
$red-500: #ff8787;
$red-600: #ff6b6b;
$red-700: #fa5252;
$red-800: #f03e3e;
$red-900: #c92a2a;

$yellow-100: #fff9db;
$yellow-200: #fff3bf;
$yellow-300: #ffec99;
$yellow-400: #ffe066;
$yellow-500: #ffd43b;
$yellow-600: #fcc419;
$yellow-700: #fab005;
$yellow-800: #f59f00;
$yellow-900: #f08c00;
