$brand-100: #ebfbee;
$brand-200: #d3f9d8;
$brand-300: #b2f2bb;
$brand-400: #8ce99a;
$brand-500: #69db7c;
$brand-600: #51cf66;
$brand-700: #40c057;
$brand-800: #37b24d;
$brand-900: #2f9e44;

$gray-900: #414B59;
$gray-600: #929EAF;
$gray-500: #AFBECC;
$gray-300: #E1E7EC;
$gray-200: #E1E7EC;
$gray-100: #F8F9FA;
$white: #ffffff;

$red-100: #fff5f5;
$red-200: #ffe3e3;
$red-300: #ffc9c9;
$red-400: #ffa8a8;
$red-500: #ff8787;
$red-600: #ff6b6b;
$red-700: #fa5252;
$red-800: #f03e3e;
$red-900: #c92a2a;

$yellow-100: #fff9db;
$yellow-200: #fff3bf;
$yellow-300: #ffec99;
$yellow-400: #ffe066;
$yellow-500: #ffd43b;
$yellow-600: #fcc419;
$yellow-700: #fab005;
$yellow-800: #f59f00;
$yellow-900: #f08c00;
