@import './variables.scss';

.Field {
  padding: 0 12px;
  margin-bottom: 16px;

  label {
    display: block;
    margin-bottom: 8px;
    color: $gray-600;
  }

  input {
    color: $gray-800;
    background-color: $gray-100;
    padding: 8px 16px;
    width: 100%;
    border: 1px solid $gray-300;
    font-size: 14px;
    border-radius: $border-radius;

    &::placeholder {
      color: $gray-400;
    }
  }

  &--error {
    input {
      border-color: $red-300;
    }
  }

  &__error-message {
    font-size: 12px;
    color: $red-300;
    margin-top: 8px;
  }
}
