.IconButton {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
}
