html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font: 16px "Fira Sans", sans-serif;
  margin: 0;
  color: #828282; }

ol, ul {
  padding-left: 0; }

h1, h2, h3, h4, h5 {
  color: #0d0d0d; }
