@import './variables.scss';

body {
  font: 16px "Fira Sans", sans-serif;
  margin: 20px;
  color: $body-color;
}

ol, ul {
  padding-left: 0; }

h1, h2, h3, h4, h5 {
  color: $black-color;
}

h1 {
  margin: 1.5em 0; }

.subtle {
  color: #ccc; }

input {
  font: 16px "Fira Sans", sans-serif;
  color: $body-color;
}

.disabled {
  text-decoration: line-through; }

.ingredient-list-item {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px; }

li.ingredient-list-item {
  list-style: none; }
