body {
  font: 16px "Fira Sans", sans-serif;
  margin: 20px;
  color: #828282; }

ol, ul {
  padding-left: 0; }

h1, h2, h3, h4, h5 {
  color: #0d0d0d; }

h1 {
  margin: 1.5em 0; }

.subtle {
  color: #ccc; }

.disabled {
  text-decoration: line-through; }

.ingredient-list-item {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px; }

li.ingredient-list-item {
  list-style: none; }
