@import './variables.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: $font-size $font-family, sans-serif;
  margin: 0;
  color: $gray;
}

ol, ul {
  padding-left: 0; }

h1, h2, h3, h4, h5 {
  color: $cod-gray;
}
