.IngredientListItem {
  list-style: none;
  margin-bottom: 5px; }
  .IngredientListItem__label {
    border: none;
    background-color: transparent;
    line-height: 26px; }
  .IngredientListItem__wrapper {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 5px 10px; }
  .IngredientListItem__metadata {
    color: #ccc; }
  .IngredientListItem .Icon {
    visibility: hidden; }
  .IngredientListItem:hover .Icon {
    visibility: visible; }
