.IngredientListItem {
  list-style: none;
  margin-bottom: 5px; }
  .IngredientListItem--label {
    display: inline-block;
    line-height: 26px; }
    .IngredientListItem--label-disabled {
      text-decoration: line-through; }
  .IngredientListItem--wrapper {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 10px; }
