@import './variables.scss';

.IngredientListItem {
  list-style: none;
  margin-bottom: 5px;

  &__label {
    border: none;
    background-color: transparent;
    line-height: 26px;
  }

  &__wrapper {
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .Icon {
    visibility: hidden;
  }

  &:hover .Icon {
    visibility: visible;
  }
}
