.LinkButton {
  font: 16px "Fira Sans", sans-serif;
  color: mediumspringgreen;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer; }

.LinkButton:hover {
  color: mediumspringgreen; }

.LinkButton:focus {
  outline: none; }

.LinkButton--active {
  font-weight: bold;
  color: #0d0d0d; }
