.ListHeader__title {
  display: flex;
  flex-direction: row; }

.ListHeader__h1 {
  margin-top: 0; }

.ListHeader__p {
  margin-bottom: 0.6em; }

.ListHeader .Icon {
  visibility: hidden;
  margin-top: 0.7rem; }

.ListHeader:hover .Icon {
  visibility: visible; }
