@import './variables.scss';

.ListHeader {
  .title {
    display: flex;
    flex-direction: row;
  }

  h1 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0.6em;
  }

  .Icon {
    visibility: hidden;
    margin-top: 0.7rem;
  }

  &:hover .Icon {
    visibility: visible;
  }
}
