@import './variables.scss';

.ListHeader {
  &__title {
    display: flex;
    flex-direction: row;
  }

  &__h1 {
    margin-top: 0;
  }

  &__p {
    margin-bottom: 0.6em;
    color: $gray-300;
    text-transform: uppercase;
  }

  .Icon {
    visibility: hidden;
    margin-top: 0.7rem;
  }

  &:hover .Icon {
    visibility: visible;
  }
}
