@import './variables.scss';

.Modal {
  width: 352px;
  background-color: $white;
  color: $gray-600;
  border-radius: $border-radius;

  &__Header {
    margin-top: 32px;
  }

  &__Header {
    padding: 0 32px;
  }

  &__Body {
    padding: 0 20px 20px 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__ButtonGroup {
    background-color: $gray-100;
    padding: 16px 32px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: $border-radius;
  }

  &__Backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(215, 16, 30, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
