@import './variables.scss';

.Navbar {
  height: $navbar-height;
  border-bottom: 1px solid $alto;
  background-color: $white;

  &__wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row-reverse;
  }
}
