@import './variables.scss';

.Navbar {
  height: 70px;
  border-bottom: 1px solid $alto;

  &__wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row-reverse;
  }
}
