.Card {
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 4rem;
  width: 240px;
  border: 1px solid #e0e0e0; }

.CardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
