.SidebarItem {
  padding: 10px 10px 10px 24px;
  margin: 10px 0; }
  .SidebarItem__link {
    color: #828282; }
  .SidebarItem--active {
    border-left: 4px solid mediumspringgreen;
    padding-left: 20px; }
    .SidebarItem--active .SidebarItem__link {
      color: #0d0d0d;
      font-weight: bold; }
    .SidebarItem--active .Icon {
      color: mediumspringgreen; }
  .SidebarItem:hover .SidebarItem__link {
    color: #0d0d0d; }
