@import './variables.scss';

.SidebarItem {
  padding: 10px 10px 10px 24px;
  margin: 10px 0;

  &__link {
    color: $gray;
  }

  &--active {
    border-left: 4px solid $medium-spring-green;
    padding-left: 20px;

    .SidebarItem__link {
      color: $cod-gray;
      font-weight: bold;
    }

    .Icon {
      color: $medium-spring-green;
    }
  }

  &:hover {
    .SidebarItem__link {
      color: $cod-gray;
    }
  }
}
