@import './variables.scss';

.Store {
  table {
    border: 1px solid $gray-200;
    table-layout: fixed;
    border-spacing: 0;
    border-radius: $border-radius;
    background-color: $white;
  }

  h1 {
    font-size: 24px;
    color: $gray-900;
  }

  tr {
    display: block;
    padding: 24px;
    border-bottom: 1px solid $gray-200;

    &:first-child {
      padding: 16px 24px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  th {
    text-transform: uppercase;
    color: $gray-600;
    font-weight: 500;
    text-align: left;
    width: 192px;

    &:last-child {
      width: 1rem;
    }
  }

  td {
    color: $gray-900;
    width: 192px;

    &:last-child {
      width: 16px;
    }
  }

  .EllipsisButton {
    color: $gray-500;
  }
}

.ButtonBar {
  margin-bottom: 24px;
  display: flex;

  h2 {
    margin: 0;
  }

  &__ButtonSection {
    margin-left: auto;
  }
}
