$silver: #ccc;
$gray: #828282;
$cod-gray: darken($gray, 46);
$medium-spring-green: mediumspringgreen;
$alabaster: #f9f9f9;
$alto: darken($alabaster, 10);
$white: #ffffff;

$font-size: 16px;
$font-family: "Fira Sans";

$navbar-height: 70px;
