@import './colors.scss';

$silver: #ccc;
$gray: #828282;
$cod-gray: darken($gray, 46);
$medium-spring-green: mediumspringgreen;
$alto: #e0e0e0;

$font-size: 16px;
$font-family: "Fira Sans";

$navbar-height: 70px;

$border-radius: 4px;

$border-shadow: 0px 0px 3px $brand-200;
