@import './colors.scss';

$silver: #ccc;
$gray: #828282;
$cod-gray: darken($gray, 46);
$medium-spring-green: mediumspringgreen;
$alabaster: #f9f9f9;
$alto: darken($alabaster, 10);

$font-size: 16px;
$font-family: "Fira Sans";

$navbar-height: 70px;

$border-radius: 4px;

$gray-900: #414B59;
$gray-600: #929EAF;
$gray-500: #AFBECC;
$gray-200: #E1E7EC;
$gray-100: #F8F9FA;
$white: #ffffff;
